@import 'fonts';

.btn {
  &:focus,
  &:active,
  &:hover {
    box-shadow: none;
    outline: none;
    border: none;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container-padding {
  padding: 0 15px;
}

.section-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.breadcrumb{
  background-color: transparent;
  margin-left: 0;
}
