.family-screen {
  .content-section{
    border-bottom: 2px solid #bcc6cf;
    padding: 20px 0px;
    margin: 0px 0px 20px 0px;
    .family-attr {
      p {
        flex-basis: 20%;
        min-width: 100px;
        font-weight: 600;
      }
    }
    .family-characteristics {
      margin-top: 50px;
      h2{
        font-size: 25px;
        padding-bottom: 10px;
      }
      p{
        font-size: 17px;
        font-weight: bold;
      }
    }
  }
}
